.wrap {
  border-radius: 0px 30px 0px 30px !important;
}
.activity-entry {
  margin-bottom: 10px !important;
}

.user-page-unscoped {
  background: linear-gradient(
      rgb(var(--color-background), 0.8),
      rgb(var(--color-background), 0.8)
    ),
    url("https://wallpaper.dog/large/17116107.jpg") center/100% fixed !important;
  padding-bottom: 20px;
}

.about .content-wrap {
  overflow-y: auto;
  height: 180px;
  margin-bottom: 20px;
}

.about .content-wrap:-webkit-scrollbar {
  width: 10px;
  background-color: purple;
}

.list.small .entry-dropdown {
  left: 32px;
}

.banner .container {
  position: relative;
  overflow: hidden;
}
.banner-content {
  position: absolute;
  left: -400px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.favourite,
.media {
  border-radius: 20px !important;
}
